body {
  margin: 0;
  padding: 70px 0;
}

.container {
  max-width: 1123px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

svg{
  width:100%;
}

path {
  fill: #eaeaf4;
  fill-rule: evenodd;
}

.indicator{
  position: absolute;
  display: inline;
  border: 1px solid rgba(0,0,0,0.6);
  background: #fff;
  color:#111;
  padding: 6px 10px;
  font: 14px Arial;
  border-radius:5px;
  
  text-align: center;
  text-transform: capitalize;
  display: none;
  

}

.clear{clear:both}
.name{float:left;margin-right:30px;}
.capital{clear:both;}