svg{
  width:100%;
}

path {
  fill: #eaeaf4;
  fill-rule: evenodd;
}

.indicator{
  position: absolute;
  display: inline;
  border: 1px solid rgba(0,0,0,0.6);
  color:#111;
  padding: 10px 15px;
  font: 16px Arial;
  border-radius:5px;
  
  text-align: center;
  text-transform: capitalize;
  display: none;
  

}

.clear{clear:both}
.name{float:left;margin-right:30px;}
/*.flag{position:absolute;top:10px;right:20px;border:3px solid #f7ffe8;border-radius:3px;
  }*/
.capital{clear:both;}